extends common/layout 


block layout-content 

  main
    section#product
        h2 Butterfly image
        img(src="/images/flower.jpg", alt="Butterfly")
        p Butterfly form the deep forests
        button(type="button") Add to Cart
    section#product    
        h2 Sunflower
        img(src="/images/sunflow.jpg", alt="Sunflower")
        p Sunflower has suns energy in it.
        button(type="button") Add to Cart
    section#product    
        h2 Rose Flower
        img(src="/images/roseflow.webp", alt="Rose")
        p Rose has thorns but its beautiful
        button(type="button") Add to Cart
